body {
    background-color:#f6f6f6;
}
/* Header styles starting here */
#top-container {
    width:100%;
    margin:0;
    padding:0;
    height:90px;
    background-color:#cbcbc1;
}
#logo-area {
    width:100%;
    height:80px;
    padding-top:5px;
}
#brown-line {
    width:100%;
    height:5px;
    background-color:#72441e;
}
#logo {
    background-image: url("../images/sablogo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
    height:75px;
}
#login-area {
    padding-top: 15px;
    height:60px;
    color: #72441e;
    text-align:right;
}
#login-area a {

}
#login-area a:link {
    color: #72441e;
}
#login-area a:visited {
    color: #72441e;
}
#login-area a:hover {
    color: #e7512d;
}
#login-area a:active {
    color: #e7512d;
}
p.logo-title {
    padding-top: 18px;
    padding-left: 170px;
    color: #72441e;
}
.lms-text {
    font-size:22px;
    font-weight: bold;
    line-height: 90%;
}
.uni-text {
    font-size:14px;
    font-weight: normal;
    line-height: 90%;
}

/* Header styles ends here */

/* Login form styles starting here */

#login-form {
}

/* Login form styles ends here */

/* Notifications starts here */

p.error {
    border: 1px solid #990000;
    background-color: #ffcccc;
    color: #990000;
}

/* Notifications ends here */

/*.menu {list-style-image: url(plus.gif);}*/
.vert-menu-header {
    list-style: none;
}
.vert-menu ul:first-child {
    list-style: none;
}
.vert-submenu {
    display: none;
    list-style: none;
}
.vert-menu span {
    cursor: pointer;
}